In [1]:
import pandas as pd
df=pd.read_csv('data4.csv')
print(df)

    ROLL NO.  MARKS IN PERCENTAGE  DAYS PRESENT  Unnamed: 3  Unnamed: 4  \
0          1                   79           180         NaN         NaN
1          2                   73           160         NaN         NaN
2          3                   71           155         NaN         NaN
3          4                   71           156         NaN         NaN
4          5                   59           145         NaN         NaN
5          6                   30           122         NaN         NaN
6          7                   35           131         NaN         NaN
7          8                   44           156         NaN         NaN
8          9                   60           166         NaN         NaN
9         10                   60           170         NaN         NaN
10        11                   60           155         NaN         NaN
11        12                   63           158         NaN         NaN
12        13                   78           170         NaN         NaN
13        14                   63           160         NaN         NaN
14        15                   77           165         NaN         NaN
15        16                   54           159         NaN         NaN
16        17                   20           119         NaN         NaN
17        18                   65           168         NaN         NaN
18        19                   78           175         NaN         NaN
19        20                   55           161         NaN         NaN
20        21                   70           160         NaN         NaN
21        22                   68           160         NaN         NaN
22        23                   46           150         NaN         NaN
23        24                   50           140         NaN         NaN
24        25                   47           148         NaN         NaN

    Unnamed: 5  Unnamed: 6
0          NaN         NaN
1          NaN         NaN
2          NaN         NaN
3          NaN         NaN
4          NaN         NaN
5          NaN         NaN
6          NaN         NaN
7          NaN         NaN
8          NaN         NaN
9          NaN         NaN
10         NaN         NaN
11         NaN         NaN
12         NaN         NaN
13         NaN         NaN
14         NaN         NaN
15         NaN         NaN
16         NaN         NaN
17         NaN         NaN
18         NaN         NaN
19         NaN         NaN
20         NaN         NaN
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN
24         NaN         NaN

In [2]:
df.corr(method="pearson")

,ROLL NO.,MARKS IN PERCENTAGE,DAYS PRESENT,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
ROLL NO.,1.000000,-0.157312,-0.037812,NaN,NaN,NaN,NaN
MARKS IN PERCENTAGE,-0.157312,1.000000,0.863574,NaN,NaN,NaN,NaN
DAYS PRESENT,-0.037812,0.863574,1.000000,NaN,NaN,NaN,NaN
Unnamed: 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN